BOOKMARKS_FILE = "your_bookmarks.txt"
OPENAI_API_KEY = "sk-etcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtc"
NOTION_API_KEY = "secret_etcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtc"
NOTION_DB_ID = "etcEtcEtcEtcEtcEtcEtcEtcEt"
USER_AGENT = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
LANGUAGE = "english"